html, body {
	height: 100%;
}

body {
	background-image: url(tile.png);
	background-repeat: repeat; 
}

main {
	display: block;
	width: 80%;
	margin: auto;
	background-color: #303030;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
	text-align: center;
	color: whitesmoke;
	font-size: 18px;
	font-family: "Alef", sans-serif;
}

main h1{
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0.5%;
}

main h2{
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 1%;
}
main h3{
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 1%;
    padding-top: 0px;
    margin-top: 0px;
}
main p {
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
	padding: 7px;
}
main ul{
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
nav {
    display: block;
	width: 80%;
	margin: auto;
	background-color: #212121;
	font-size: 26px;
	font-family: "Alef", sans-serif;
	text-align: center;
}

.navHolder {
	width: auto;
	padding-top: 1%;
    padding-bottom: 1%
}

.navSelected {
	font-weight: bolder;
    font-variant: small-caps;
}

nav ul {
	list-style: none;
	display: inline;
}

nav ul li {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}

nav ul li a {
	color: WHITE;
	text-decoration: none;
}

a:link {
    color: #15c8c5;
}

a:visited {
    color: #15c8c5;
}

a:hover {
    color: #0d7e7c;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flexbox > div {
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

footer {
	display: block;
	width: 80%;
	margin: auto;
	background-color: #212121;
    padding-top: 1px;
    padding-bottom: 1px;
	text-align: center;
	color: whitesmoke;
	font-size: 16px;
	font-family: "Alef", sans-serif;
}