html, body {
	height: 100%;
}

body {
	background-image: url(imgs/bg.png);
	background-repeat: repeat; 
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 0px;
  font-family: 'Hind', sans-serif;
}

main {
	display: block;
	width: 85%;
	margin: auto;
	background-color: rgba(15,15,15);
  padding-top: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1%;
	text-align: center;
	color: whitesmoke;
	font-family: 'Hind', sans-serif;
}
h1{
    font-size: 4em;
    opacity: 1;
    margin: 0px;
    padding: 0px;
    font-family: 'Teko', sans-serif;
    font-weight: normal;
}
h2{
    font-size: 3em;
    opacity: 1;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-family: 'Teko', sans-serif;
    font-weight: normal;
}

p {
    font-size: 1.1em;
    opacity: 1;
    margin-top: 1px;
    padding-bottom: 0px;
    margin-bottom: 0px;
	padding: 0px;
}

main a:link {
    color: #15c8c5;
    text-decoration: none;
} 
main a:visited {
    color: #15c8c5;
}
main a:hover {
    color: #0d7e7c;
}


nav {
  display: block;
	width: 85%;
	margin: auto;
	background-color: rgba(15,15,15, 0.9);
	font-size: 1.6em;
	font-family: 'Hind', sans-serif;
	text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
.navHolder {
	width: auto;
}
nav ul {
	list-style: none;
	display: inline;
    padding: 0;
    margin: 0;
}
nav ul li {
    padding-left: 2%;
    padding-right: 2%;
	display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav ul li a {
	text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover {
    color: #0d7e7c;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn { 
  font-size: 26px;
  font-family: 'Hind', sans-serif;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown:hover .dropbtn {
  color: #0d7e7c;
}
.dropdown-content {
  padding-top: 15px;
  font-size: 20px;
  display: none;
  color: #15c8c6;
  position: absolute;
  background-color: #0a0a0a;
  min-width: 50px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: #0d7e7c;
  background-color: #151515;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.shaker{
    
}
.shaker:hover {
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

footer {
	display: block;
	width: 85%;
	margin: auto;
	background-color: rgba(15,15,15, 0.9);
  padding-top: 14px;
  padding-bottom: 14px;
	text-align: center;
	color: whitesmoke;
	font-size: 1.05em;
	font-family: 'Hind', sans-serif;
  font-weight: bold;
}

.left{
    text-align: left;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(imgs/hero.gif);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    color: white;
}

/*Hoverable Gallery Elements*/
.gallery-element {
  position: relative;
  max-width: 400px;
  height:auto;
}

.gallery-element img{
  position: relative;
  max-width: 400px;
  height:auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(rgba(255,0,0,0), rgba(13, 126, 124, 1));
}
.gallery-element:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 1.5em;
  position: absolute;
  font-family: 'Teko', sans-serif;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Homepage Nav Buttons*/
.btn {
  border: 3px solid white;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  padding: 14px 28px;
  margin: 5px;
  font-size: 1.3em;
  cursor: pointer;
}
.default:hover {
  background: white;
  color: black;
}

/*Zig Zag Gallery Columns*/
* {
  box-sizing: border-box;
}

.gallery {
  padding: 0;
}
.gallery img{
    display:block;
    border-radius: 25px;
    width: 100%;
    padding: 2%;
}
.gallery video{
    width: 100%;
    vertical-align: middle;
}

/* Clear floats */
.gallery:after {
  content: "";
  display: table;
  clear: both
}

/* 2/3 column */
.col-twothird {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

/* 1/2 column */
.col-half {
  float: left;
  width: 50%;
  padding: 20px;
}

/* 1/4 column */
.col-quarter {
  float: left;
  width: 25%;
  padding: 20px;
}

/* 1/3 column */
.col-third {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

/* Responsive */
@media screen and (max-width: 800px) {
  .col-quarter{
      width: 50%;
      text-align: center;
  }
  .col-twothird{
      width: 50%;
      text-align: center;
  }
  .col-third{
    width: 50%;
    text-align: center;
  }
  .col-half{
    width: 100%;
    text-align: center;
  }

  .text {
    font-size: 1.4em;
    position: absolute;
    top: 85%;
  }
}
@media screen and (max-width: 500px) {
  .col-twothird,
  .col-half,
  .col-third, 
  .col-quarter{
      width: 100%;
      text-align: center;
  }
}
