html, body {
	height: 100%;
}

body {
	background-image: url(tile.png);
	background-repeat: repeat; 
    background-size: cover;
    margin: auto;
    text-align: center;
    padding: 20px;
}

main {
	display: block;
	width: 85%;
	margin: auto;
	background-color: rgba(15,15,15,0.8);
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
	text-align: center;
	color: whitesmoke;
	font-size: 18px;
	font-family: 'Open Sans';
}
main h1{
    font-size: 50px;
    opacity: 1;
    margin: 0px;
    padding: 0px;
    font-family: 'Bungee Shade';
    font-weight: normal;
}
main h2{
    opacity: 1;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 1%;
}
main h3{
    opacity: 1;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}
main h5{
    opacity: 1;
    margin-top: 0px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    color: lightgray;
}
main p {
    opacity: 1;
    margin-top: 1px;
    padding-bottom: 0px;
    margin-bottom: 0px;
	padding: 0px;
}

a:link {
    color: #15c8c5;
    text-decoration: none;
}
a:visited {
    color: #15c8c5;
}
a:hover {
    color: #0d7e7c;
}

nav {
    display: block;
	width: 85%;
	margin: auto;
	background-color: #101010;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,1);
	font-size: 26px;
	font-family: "Open Sans";
	text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}
.navHolder {
	width: auto;
	padding-top: 1%;
    padding-bottom: 1%
}
nav ul {
	list-style: none;
	display: inline;
    padding: 0;
    margin: 0;
}
nav ul li {
    padding-left: 2%;
    padding-right: 2%;
	display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li a {
	text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn { 
  font-size: 26px;
  font-family: "Open Sans";
  border: none;
  outline: none;
  color: #15c8c6;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown:hover .dropbtn {
  color: #0d7e7c;
}
.dropdown-content {
  padding-top: 15px;
  font-size: 20px;
  display: none;
  color: #15c8c6;
  position: absolute;
  background-color: #101010;
  min-width: 50px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
    color: #0d7e7c;
  background-color: #151515;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flexbox > div {
  text-align: center;
}
* {
  box-sizing: border-box;
}   

blog-box{
    display: block;
	width: 90%;
	margin: auto;
	background-color: rgba(16,16,16,1);
    box-shadow: inset 5px 5px 0px 5px rgba(13,126,124,1);
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 0%;
    padding-bottom: 2%;
	text-align: left;
	color: whitesmoke;
	font-size: 18px;
	font-family: "Open Sans";
}
blog-box topper{
    display: block;
	width: 100%;
	margin: auto;
	background-color: rgba(13,126,124,1);
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,1);
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0;
}
blog-box meat{
    display: block;
	width: 100%;
	margin: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 1%;
    padding-bottom: 1%;

}

.shaker:hover {
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

footer {
	display: block;
	width: 85%;
	margin: auto;
	background-color: #101010;
    box-shadow: inset 0px 8px 0px 0px rgba(0,0,0,0.2);
    padding-top: 1px;
    padding-bottom: 1px;
	text-align: center;
	color: whitesmoke;
	font-size: 16px;
	font-family: "Open Sans";
}